@use 'fonts' as *;
@use 'colors' as *;
@use 'breakpoints' as *;

footer {
  // Navigation hover styles
  nav {
    ul {
      li {
        a{
          font-family: 'Poppins', sans-serif;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .wp-block-column:first-of-type {

    div:first-of-type {
      .custom-logo {
        max-width: 150px;
      }
      @media (width > $md) {
        float: left;
        margin-inline-start: 0;
        margin-inline-end: 2em;
      }

    }
  }

  .wp-block-column {
    @media (width > $md) {
      padding-bottom: 0 !important;
    }
  }

  p {
    color: $white;
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    // @media (width > $md) {
    //   justify-content: space-between;
    //   gap: unset;

    //   .image-container {
    //     width: 100%;
    //   }
    // }
    
    img {
      max-width: 100%;
      margin: 0;
    }
  }
}