@use "colors" as *;
@use "breakpoints" as *;
@use "mixins" as *;
@use "base" as *;


// INDEX PAGE
.index-page {

  .index-about-us {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 300px,
          $bg-color: $primary-blue, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }
  }

  .senior-rugby, .rentals {
    .wp-block-column:first-of-type {
      @media (width > $md) {
        order: 2;
      }
    }

    .wp-block-column:last-of-type {
      .wp-block-group {

        @media (width < $md) {
          justify-self: start;
        }
      }
    }
  }

  .junior-mini-rugby, .history {
    .wp-block-column:last-of-type {
      .wp-block-group {

        @media (width < $md) {
          padding-left: 1rem !important;
        }
      }
    }
  }
  
  .section-content-right {
    height: 100%;
    max-width: 575px;
    justify-self: end;
  }

  .section-content-left {
    height: 100%;
    max-width: 575px;
    justify-self: start;
  }

  .skip-the-depot {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 300px,
          $bg-color: transparent, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }
  }

}

// PROGRAMS PAGE
.ready-to-register {
  .outline-button {
    .wp-block-button {
      @include buttonStyles(
        $width: 300px,
        $bg-color: transparent, 
        $bg-color-hover: $white, 
        $text-color: $white, 
        $text-color-hover: $primary-blue,
        $border-color: $white,
        $border-color-hover: $white
      );
    }
  }
}

.what-to-expect {
  .image-container {
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      @media (width > $lg) {
        align-items: start;
        max-height: 500px;
      }
    }
  }
}

// SENIOR RUGBY PAGE
.senior-rugby-page {
  .fees-card {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: $primary-blue, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }

    .outline-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: transparent, 
          $bg-color-hover: $primary-blue, 
          $text-color: $primary-blue, 
          $text-color-hover: $white,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }
  }
}

// JUNIOR RUGBY PAGE
.junior-rugby-page {
  .mini-card {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: $primary-blue, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: transparent,
          $border-color-hover: transparent
        );
      }
    }

    .outline-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: transparent, 
          $bg-color-hover: $primary-blue, 
          $text-color: $white, 
          $text-color-hover: $white,
          $border-color: $white,
          $border-color-hover: $primary-blue
        );
      }
    }
  }

  .junior-card {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: $primary-blue, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }

    .outline-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: transparent, 
          $bg-color-hover: $primary-blue, 
          $text-color: $primary-blue, 
          $text-color-hover: $white,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }
  }

  .financial-assistance {
    .image-container {
      width: fit-content;
    }
  }
}

// HISTORY PAGE
.history-links {
  .wp-block-button {
    @include buttonStyles(
      $width: 200px,
      $bg-color: $primary-blue, 
      $bg-color-hover: $white, 
      $text-color: $white, 
      $text-color-hover: $primary-blue,
      $border-color: $primary-blue,
      $border-color-hover: $primary-blue
    );
  }
}

// CONTACT PAGE
.contact-page {
  section:first-of-type {
    a {
      font-family: unset;
      font-weight: bold;
    }
  }

  form {
    .wpforms-container-full button[type=submit] {
      @include buttonStyles(
        $width: 200px !important,
        $bg-color: $primary-blue !important, 
        $bg-color-hover: $white !important, 
        $text-color: $white !important, 
        $text-color-hover: $primary-blue !important,
        $border-color: $primary-blue !important,
        $border-color-hover: $primary-blue !important
      );
    }
  }
}