@use "colors" as *;
@use "breakpoints" as *;
@use "mixins" as *;
@use "base" as *;


// INDEX PAGE
.index-page {

  .index-about-us {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 300px,
          $bg-color: $primary-blue, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }
  }

  .senior-rugby, .rentals {
    .wp-block-column:first-of-type {
      @media (width > $md) {
        order: 2;
      }
    }

    .wp-block-column:last-of-type {
      .wp-block-group {
        @media (width < $md) {
          justify-self: start;
        }
      }
    }

    .wp-block-buttons {
      @media (width < $md) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .junior-mini-rugby, .history {
    .wp-block-column:last-of-type {
      .wp-block-group {

        @media (width < $md) {
          padding-left: 1rem !important;
        }
      }
    }

    .wp-block-buttons {
      @media (width < $md) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  
  .section-content-right {
    height: 100%;
    max-width: 575px;
    margin-left: auto;

    @media (width < $md) {
      margin-left: unset;;
    }
  }

  .section-content-left {
    height: 100%;
    max-width: 575px;
    margin-right: auto;
  }

  .skip-the-depot {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 300px,
          $bg-color: transparent, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }

    .skip-button {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      max-width: 300px;
      padding: 1rem 3rem;
      color: $white;
      background-color: $primary-blue;
      text-align: center;
      border: 2px solid $white;
      border-radius: 3px;
      box-shadow: 0px 4px 4px 0px #00000040;
      transition: all 0.1s ease-in;

      &:hover {
        background-color: $secondary-blue;
      }

      @media (width < $md) {
        padding: 1rem 2rem;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        width: 47px;
      }
    }
  }

}

// NEWS & EVENTS PAGE
.news-and-events-page {
  article {
    display: flex;
    flex-direction: column;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;

      > div:first-of-type {
        flex: 1;
      }

      > div:last-of-type {
        width: 100%;
        
        a {
          box-sizing: border-box;
          width: 100%;
          text-align: center;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: $white !important;
            border: 2px solid $primary-blue !important;
            color: $primary-blue !important;
          }
        }
      }
    }
  }

  .fooevents_calendar {
    font-size: 16px;
  }

  #cal1_fooevents_calendar {
    @media (width < $md) {
      display: none;
    }
  }

  #cal2_fooevents_calendar {
    @media (width > $md) {
      display: none;
    }

    .fc-scroller {
      height: fit-content !important;
    }
  }



}


// PROGRAMS PAGE
.ready-to-register {
  .outline-button {
    .wp-block-button {
      @include buttonStyles(
        $width: 300px,
        $bg-color: transparent, 
        $bg-color-hover: $white, 
        $text-color: $white, 
        $text-color-hover: $primary-blue,
        $border-color: $white,
        $border-color-hover: $white
      );
    }
  }
}

.what-to-expect {
  .image-container {
    height: 100%;

    img {
      object-fit: cover;
      object-position: top;
      height: 100%;
      @media (width < $md) {
        max-height: 500px;
      }
    }
  }
}

// SENIOR RUGBY PAGE
.senior-rugby-page {
  .fees-card {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: $primary-blue, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }

    .outline-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: transparent, 
          $bg-color-hover: $primary-blue, 
          $text-color: $primary-blue, 
          $text-color-hover: $white,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

// JUNIOR RUGBY PAGE
.junior-rugby-page {
  .mini-card {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: $primary-blue, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: transparent,
          $border-color-hover: transparent
        );
      }
    }

    .outline-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: transparent, 
          $bg-color-hover: $primary-blue, 
          $text-color: $white, 
          $text-color-hover: $white,
          $border-color: $white,
          $border-color-hover: $primary-blue
        );
      }
    }
  }

  .junior-card {
    .solid-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: $primary-blue, 
          $bg-color-hover: $white, 
          $text-color: $white, 
          $text-color-hover: $primary-blue,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }

    .outline-button {
      .wp-block-button {
        @include buttonStyles(
          $width: 175px,
          $bg-color: transparent, 
          $bg-color-hover: $primary-blue, 
          $text-color: $primary-blue, 
          $text-color-hover: $white,
          $border-color: $primary-blue,
          $border-color-hover: $primary-blue
        );
      }
    }
  }

  .financial-assistance {
    .image-container {
      width: fit-content;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

// HISTORY PAGE
.history-links {
  .wp-block-button {
    @include buttonStyles(
      $width: 200px,
      $bg-color: $primary-blue, 
      $bg-color-hover: $white, 
      $text-color: $white, 
      $text-color-hover: $primary-blue,
      $border-color: $primary-blue,
      $border-color-hover: $primary-blue
    );
  }
}

.history-mens {
  .notable-champs {
    margin-top: 64px;
    margin-bottom: 64px;

    @media (width > $md) {
      margin-top: 910px;
      margin-bottom: 170px;
    }
  }
}

// CONTACT PAGE
.contact-page {
  section:first-of-type {
    a {
      font-family: unset;
      font-weight: bold;
    }
  }

  .submit-button {
    width: 200px;
    height: 55px !important;
    background-color: $primary-blue !important;
  }

  .board-members {
    h2 {
      font-family: unset;
    }
    .wp-block-post-template {
      word-break: break-all;
    }
  }

}


// ALL ARCHIVES PAGE
.all-archives-page {
  article {
    display: flex;
    flex-direction: column;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;

      > div:first-of-type {
        flex: 1;
      }

      > div:last-of-type {
        width: 100%;
        
        a {
          box-sizing: border-box;
          width: 100%;
          text-align: center;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: $white !important;
            border: 2px solid $primary-blue !important;
            color: $primary-blue !important;
          }
        }
      }
    }
  }

  .page-numbers {
    font-family: unset;
    font-weight: 700;
  }
}

// SINGLE POST PAGE
.single-post-page {
  .wp-block-post-navigation-link a {
    text-align: center;
    display: inline-block;
    width: 125px;
    background-color: $primary-blue;
    color: $white;
    padding: .75rem 0;
    border: 2px solid $primary-blue;
    border-radius: 3px;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: all 0.1s ease-in;

    &:hover {
      background-color: $white;
      color: $primary-blue;
    }
  }

  .wp-block-template-part {
    ul li a {
      font-family: unset;
      font-size: 16px;
      
      &:hover {
        text-decoration: underline;
      }
    }

  }
}