@use "colors" as *;

@mixin buttonStyles(
  $width: 100%, 
  $bg-color: $primary-blue, 
  $bg-color-hover: $white, 
  $text-color: $white, 
  $text-color-hover: $primary-blue,
  $border-color: $primary-blue,
  $border-color-hover: $primary-blue
  ) {
  width: $width;
  background-color: $bg-color;
  border: 2px solid $border-color;
  border-radius: 3px;
  box-shadow: 0px 4px 4px 0px #00000040;
  

  &:hover {
    border: 2px solid $border-color-hover;
  }

  a {
    width: 100%;
    background-color: $bg-color;
    color: $text-color;
    transition: all 0.1s ease-in;
    
    &:hover {
      background-color: $bg-color-hover;
      color: $text-color-hover;
    }
  }
}


