<!-- wp:template-part {"slug":"header","theme":"pirates-rugby","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","wideSize":"","contentSize":""}} -->
<main class="wp-block-group"
  style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
  <!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"typography":{"letterSpacing":"3px"}}} -->
  <h2 class="wp-block-heading has-text-align-center"
    style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);letter-spacing:3px">
    About Us</h2>
  <!-- /wp:heading -->

  <!-- wp:paragraph {"align":"center","style":{"typography":{"lineHeight":"1.5"}}} -->
  <p class="has-text-align-center" style="line-height:1.5">Based in Edmonton, we offer a warm friendly atmosphere and a
    vibrant social line up throughout the year. If you are a long-time rugby player or you are just starting to play,
    come out to a practice and see what the Pirates can offer you!</p>
  <!-- /wp:paragraph -->
</main>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","wideSize":"","contentSize":""}} -->
<main class="wp-block-group"
  style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
  <!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"typography":{"letterSpacing":"3px"}}} -->
  <h2 class="wp-block-heading has-text-align-center"
    style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);letter-spacing:3px">
    Latest Updates</h2>
  <!-- /wp:heading -->

  <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
  <div class="wp-block-buttons">
    <!-- wp:button {"textAlign":"center","style":{"color":{"background":"#4169e1"},"border":{"radius":"3px"},"shadow":"var:preset|shadow|sharp"}} -->
    <div class="wp-block-button"><a class="wp-block-button__link has-background has-text-align-center wp-element-button"
        href="https://www.instagram.com/edmonton.rugby/"
        style="border-radius:3px;background-color:#4169e1;box-shadow:var(--wp--preset--shadow--sharp)" target="_blank"
        rel="noreferrer noopener">View All Updates on Instagram</a></div>
    <!-- /wp:button -->
  </div>
  <!-- /wp:buttons -->
</main>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"
  style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
  <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"","inherit":true}} -->
  <div class="wp-block-query"><!-- wp:post-template -->
    <!-- wp:post-title {"isLink":true} /-->

    <!-- wp:post-excerpt /-->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination -->
    <!-- wp:query-pagination-previous /-->

    <!-- wp:query-pagination-numbers /-->

    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"pirates-rugby","tagName":"footer"} /-->