<!-- wp:template-part {"slug":"header","theme":"pirates-rugby","tagName":"header"} /-->

<!-- wp:group {"className":"index-page","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"},"margin":{"top":"var:preset|spacing|70","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group index-page"
  style="margin-top:var(--wp--preset--spacing--70);margin-bottom:0;padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
  <!-- wp:group {"tagName":"section","align":"wide","className":"index-about-us","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","wideSize":"1100px","contentSize":"","justifyContent":"center"}} -->
  <section class="wp-block-group alignwide index-about-us"
    style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
    <!-- wp:heading {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"typography":{"letterSpacing":"3px"},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
    <h2 class="wp-block-heading has-secondary-color has-text-color has-link-color"
      style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);letter-spacing:3px">
      About Us</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"align":"left","style":{"typography":{"lineHeight":"1.5"}}} -->
    <p class="has-text-align-left" style="line-height:1.5">Based in Edmonton, we offer a warm friendly atmosphere and a
      vibrant social line up throughout the year. If you are a long-time rugby player or you are just starting to play,
      come out to a practice and see what the Pirates can offer you!</p>
    <!-- /wp:paragraph -->

    <!-- wp:buttons {"className":"solid-button","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons solid-button"
      style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)">
      <!-- wp:button {"textAlign":"center","style":{"border":{"radius":"0px"}}} -->
      <div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button"
          href="https://www.instagram.com/edmonton.rugby/" style="border-radius:0px" target="_blank"
          rel="noreferrer noopener">View All Updates on Instagram</a></div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
  </section>
  <!-- /wp:group -->

  <!-- wp:columns {"align":"full","className":"senior-rugby","style":{"spacing":{"blockGap":{"top":"0","left":"0"},"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
  <div class="wp-block-columns alignfull senior-rugby"
    style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">
    <!-- wp:column {"verticalAlignment":"stretch","width":"50%"} -->
    <div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:50%"><!-- wp:html -->
      <img class="cover" src="/wp-content/themes/pirates-rugby/assets/three-senior-male-players.jpg"
        alt="three senior male players">
      <!-- /wp:html -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"verticalAlignment":"stretch","width":"50%","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"0","right":"0"}},"color":{"gradient":"linear-gradient(135deg,rgb(36,57,123) 0%,rgb(65,105,225) 100%)"}}} -->
    <div class="wp-block-column is-vertically-aligned-stretch has-background"
      style="background:linear-gradient(135deg,rgb(36,57,123) 0%,rgb(65,105,225) 100%);padding-top:var(--wp--preset--spacing--40);padding-right:0;padding-bottom:var(--wp--preset--spacing--40);padding-left:0;flex-basis:50%">
      <!-- wp:group {"className":"section-content-right","style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|40","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical","verticalAlignment":"center"}} -->
      <div class="wp-block-group section-content-right"
        style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--60);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)">
        <!-- wp:heading {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"typography":{"letterSpacing":"3px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
        <h2 class="wp-block-heading has-white-color has-text-color has-link-color"
          style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);letter-spacing:3px">
          Senior Rugby</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
        <p class="has-white-color has-text-color has-link-color">The Pirates offer senior rugby programs for both Men
          and Women. We welcome experienced and new players and
          have a policy of playing those who come to practice.</p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons {"className":"solid-button","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"flex","justifyContent":"left"}} -->
        <div class="wp-block-buttons solid-button"
          style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)">
          <!-- wp:button {"textAlign":"center","style":{"border":{"radius":"0px"}}} -->
          <div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button"
              href="https://pirates-test.local/senior-rugby/" style="border-radius:0px" target="_blank"
              rel="noreferrer noopener">More Info</a></div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:group {"tagName":"section","align":"full","className":"junior-mini-rugby","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained","wideSize":"","contentSize":"","justifyContent":"center"}} -->
  <section class="wp-block-group alignfull junior-mini-rugby"
    style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:columns {"align":"full","style":{"spacing":{"blockGap":{"top":"0","left":"0"},"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
    <div class="wp-block-columns alignfull" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">
      <!-- wp:column {"width":"50%"} -->
      <div class="wp-block-column" style="flex-basis:50%"><!-- wp:html -->
        <img class="cover" src="/wp-content/themes/pirates-rugby/assets/junior-rugby-players.webp"
          alt="5 junior players in a line">
        <!-- /wp:html -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"verticalAlignment":"stretch","width":"50%","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"0","right":"0"}}}} -->
      <div class="wp-block-column is-vertically-aligned-stretch"
        style="padding-top:var(--wp--preset--spacing--40);padding-right:0;padding-bottom:var(--wp--preset--spacing--40);padding-left:0;flex-basis:50%">
        <!-- wp:group {"className":"section-content-left","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|60"}}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center"}} -->
        <div id="column-height" class="wp-block-group section-content-left"
          style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--60)">
          <!-- wp:heading {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"typography":{"letterSpacing":"3px"},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
          <h2 class="wp-block-heading has-secondary-color has-text-color has-link-color"
            style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);letter-spacing:3px">
            Junior &amp; Mini Rugby</h2>
          <!-- /wp:heading -->

          <!-- wp:paragraph -->
          <p>The junior rugby season runs from the beginning of May to the end of July. Under 7 and Under 9 groups play
            flag rugby, contact is introduced at the Under 11 level. Teams are co-ed from Under 7 to Under 11, boys and
            girls are separated at the Under 13 level</p>
          <!-- /wp:paragraph -->

          <!-- wp:buttons {"className":"solid-button","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"flex","justifyContent":"left"}} -->
          <div class="wp-block-buttons solid-button"
            style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)">
            <!-- wp:button {"textAlign":"center","style":{"border":{"radius":"0px"}}} -->
            <div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button"
                href="https://pirates-test.local/junior-mini-rugby/" style="border-radius:0px">More Info</a></div>
            <!-- /wp:button -->
          </div>
          <!-- /wp:buttons -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </section>
  <!-- /wp:group -->

  <!-- wp:columns {"align":"full","className":"rentals","style":{"spacing":{"blockGap":{"top":"0","left":"0"},"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
  <div class="wp-block-columns alignfull rentals" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">
    <!-- wp:column {"verticalAlignment":"stretch","width":"50%"} -->
    <div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:50%"><!-- wp:html -->
      <img class="cover" src="/wp-content/themes/pirates-rugby/assets/facility-1024x450.webp" alt="pirates facility">
      <!-- /wp:html -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"verticalAlignment":"stretch","width":"50%","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"0","right":"0"}},"color":{"gradient":"linear-gradient(135deg,rgb(36,57,123) 0%,rgb(65,105,225) 100%)"}}} -->
    <div class="wp-block-column is-vertically-aligned-stretch has-background"
      style="background:linear-gradient(135deg,rgb(36,57,123) 0%,rgb(65,105,225) 100%);padding-top:var(--wp--preset--spacing--40);padding-right:0;padding-bottom:var(--wp--preset--spacing--40);padding-left:0;flex-basis:50%">
      <!-- wp:group {"className":"section-content-right","style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|40","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical","verticalAlignment":"center"}} -->
      <div class="wp-block-group section-content-right"
        style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--60);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)">
        <!-- wp:heading {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"typography":{"letterSpacing":"3px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
        <h2 class="wp-block-heading has-white-color has-text-color has-link-color"
          style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);letter-spacing:3px">
          Rentals</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
        <p class="has-white-color has-text-color has-link-color">The Pirates clubhouse and fields are available for
          rentals. The clubhouse has a capacity of ~100 people with a full kitchen, bar, and patio with barbeque. three
          full sized rugby pitches, with extra space in the northwest corner, that can be used for a variety of field
          sports. Change areas and showers may be able to be rented.</p>
        <!-- /wp:paragraph -->

        <!-- wp:group {"className":"solid-button","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","justifyContent":"left","flexWrap":"wrap"}} -->
        <div class="wp-block-group solid-button"
          style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)">
          <!-- wp:buttons {"style":{"border":{"radius":"0px"}},"layout":{"type":"flex","justifyContent":"left"}} -->
          <div class="wp-block-buttons" style="border-radius:0px">
            <!-- wp:button {"textAlign":"center","style":{"border":{"radius":"0px"}}} -->
            <div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button"
                href="https://pirates-test.local/rentals/" style="border-radius:0px">Rental Information</a></div>
            <!-- /wp:button -->
          </div>
          <!-- /wp:buttons -->

          <!-- wp:buttons {"className":"outline-button","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","justifyContent":"left"}} -->
          <div class="wp-block-buttons outline-button"
            style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)">
            <!-- wp:button {"textAlign":"center","style":{"border":{"radius":"0px"}}} -->
            <div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button"
                href="https://www.instagram.com/edmonton.rugby/" style="border-radius:0px" target="_blank"
                rel="noreferrer noopener">Request to Book</a></div>
            <!-- /wp:button -->
          </div>
          <!-- /wp:buttons -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:group {"tagName":"section","align":"full","className":"history","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained","wideSize":"","contentSize":"","justifyContent":"center"}} -->
  <section class="wp-block-group alignfull history"
    style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:columns {"align":"full","style":{"spacing":{"blockGap":{"top":"0","left":"0"},"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
    <div class="wp-block-columns alignfull" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">
      <!-- wp:column {"width":"50%"} -->
      <div class="wp-block-column" style="flex-basis:50%"><!-- wp:html -->
        <img class="cover" src="/wp-content/themes/pirates-rugby/assets/andrea-qoqonga-oPuBf2O-4lk-unsplash.jpg"
          alt="rubgy player looking to the left">
        <!-- /wp:html -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"verticalAlignment":"stretch","width":"50%","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"0","right":"0"}}}} -->
      <div class="wp-block-column is-vertically-aligned-stretch"
        style="padding-top:var(--wp--preset--spacing--40);padding-right:0;padding-bottom:var(--wp--preset--spacing--40);padding-left:0;flex-basis:50%">
        <!-- wp:group {"className":"section-content-left","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|60"}}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center"}} -->
        <div class="wp-block-group section-content-left"
          style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--60)">
          <!-- wp:heading {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"typography":{"letterSpacing":"3px"},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
          <h2 class="wp-block-heading has-secondary-color has-text-color has-link-color"
            style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);letter-spacing:3px">
            Our History</h2>
          <!-- /wp:heading -->

          <!-- wp:paragraph -->
          <p>The Edmonton Rugby Football Club was formed in 1953, most of their games were played against Calgary teams
            until 1958 when a group broke away and formed a second team. There now being two rugby clubs in Edmonton, it
            was decided to give the club a second name to avoid confusion. The name chosen was the Pirates after the
            famous Cornish team, the Penzance Pirates.</p>
          <!-- /wp:paragraph -->

          <!-- wp:buttons {"className":"solid-button","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"flex","justifyContent":"left"}} -->
          <div class="wp-block-buttons solid-button"
            style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)">
            <!-- wp:button {"textAlign":"center","style":{"border":{"radius":"0px"}}} -->
            <div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button"
                href="https://pirates-test.local/history/" style="border-radius:0px">Explore Our History</a></div>
            <!-- /wp:button -->
          </div>
          <!-- /wp:buttons -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </section>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"section","align":"full","className":"skip-the-depot","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"backgroundColor":"primary","textColor":"white","layout":{"type":"constrained","wideSize":"1100px"}} -->
  <section
    class="wp-block-group alignfull skip-the-depot has-white-color has-primary-background-color has-text-color has-background has-link-color"
    style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
    <!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|70"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center"
      style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)">
      <!-- wp:column {"verticalAlignment":"center","width":"70%","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0"}}}} -->
      <div class="wp-block-column is-vertically-aligned-center" style="padding-top:0;padding-bottom:0;flex-basis:70%">
        <!-- wp:heading {"style":{"typography":{"letterSpacing":"2px"}},"fontSize":"xxxlarge"} -->
        <h2 class="wp-block-heading has-xxxlarge-font-size" style="letter-spacing:2px">Skip the Depot!</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"typography":{"lineHeight":"1.5"}}} -->
        <p
          style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);line-height:1.5">
          Support Pirates Rugby by recycling with SkipTheDepot! Schedule a pickup, donate your bottle refunds, and help
          grow local sports.</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"verticalAlignment":"center","width":"30%"} -->
      <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:30%">
        <!-- wp:buttons {"className":"outline-button","style":{"spacing":{"padding":{"right":"0","left":"0"},"blockGap":{"left":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap"}} -->
        <div class="wp-block-buttons outline-button"
          style="margin-top:0;margin-bottom:0;padding-right:0;padding-left:0">
          <!-- wp:button {"style":{"border":{"radius":"0px"}}} -->
          <div class="wp-block-button"><a class="wp-block-button__link wp-element-button"
              href="http://pirates-test.local/register/" style="border-radius:0px">Support Us with SkipTheDepot!</a>
          </div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </section>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"pirates-rugby","tagName":"footer"} /-->